*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#addBtn{
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#addBtn:hover{
    background-color: #0056b3;
}

#taskList{
    list-style: none;
}

#taskList li{
    background-color: #eeeeee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: darkred;
}